html, body {
   font-family: Arial;
}

table#sudoku {
   border-collapse: collapse;
   border: 2px solid black;
}

table#sudoku > tbody > tr {
}

table#sudoku > tbody > tr + tr + tr {
   border-bottom: 2px solid black;
}

table#sudoku > tbody > tr + tr + tr + tr {
   border-bottom: none;
}

table#sudoku > tbody > tr + tr + tr + tr + tr + tr {
   border-bottom: 2px solid black;
}

table#sudoku > tbody > tr + tr + tr + tr + tr + tr + tr {
   border-bottom: none;
}

table#sudoku > tbody > tr > td {
   width: 1em;
   height: 1em;
   border: 1px solid black;
}

table#sudoku > tbody > tr > td + td + td {
   border-right: 2px solid black;
}

table#sudoku > tbody > tr > td + td + td + td {
   border-right: none;
}

table#sudoku > tbody > tr > td + td + td + td + td + td {
   border-right: 2px solid black;
}

table#sudoku > tbody > tr > td + td + td + td + td + td + td {
   border-right: none;
}

table#sudoku > tbody > tr > td > input {
   border: none;
   width: 1em;
   height: 1em;
   text-align: center;
}

